{% extends "_layouts/generic-page-layout.twig" %}

{% set pageBackground = pageBackground|default('linen') %}

{% block headLinks %}
    {{ parent() }}
{% endblock headLinks %}

{% block contentborderless %}

    {% set tori = entry.toriImage.one().getUrl() %}

    <div class="relative edge-x edge-t pt-20 h-screen min-h-[42rem] xl:min-h-[46rem] xxl:min-h-[50rem]">
        <div v-prlx.mobile="{ speed: 0.3, preserveInitialPosition: false, }" class="absolute top-[-16rem] left-0 right-0 bottom-0 z-0 bg-cover bg-bottom xxl:bg-center" style="background-image: url('{{ tori }}');"></div>
        <div class="w-full relative -mt-20 sm:-mt-6 mx-auto z-10">
            <div class="relative z-10">
                <h1 class="header-one pt-8 pb-10 sm:pb-12">{{ entry.banner1Header|lower }} <span class="tracking-overlap hidden sm:inline">–––––––––</span></h1>
                
                <div class="w-full sm:w-3/4 lg:w-1/2 max-w-[40rem]">
                    {% for item in entry.contentBlocks %}
                        {% switch item.type %}
                            {% case 'textBlock' %}
                                {% if item.size == 'small' %}
                                    {% set sizes = 'text-sm sm:text-md md:text-md lg:text-lg xl:text-xl' %}
                                {% elseif item.size == 'medium' %}
                                    {% set sizes = 'text-md sm:text-lg md:text-lg lg:text-xl xl:text-2xl' %}
                                {% elseif item.size == 'large' %}
                                    {% set sizes = 'text-lg sm:text-xl md:text-xl lg:text-2xl xl:text-3xl' %}
                                {% endif %}

                                {% if item.color == 'blue' %}
                                    {% set tColor = 'text-blue' %}
                                {% elseif item.color == 'navy' %}
                                    {% set tColor = 'text-deepnavy' %}
                                {% elseif item.color == 'white' %}
                                    {% set tColor = 'text-linen' %}
                                {% elseif item.color == 'red' %}
                                    {% set tColor = 'text-red' %}
                                {% elseif item.color == 'mint' %}
                                    {% set tColor = 'text-green' %}
                                {% elseif item.color == 'teal' %}
                                    {% set tColor = 'text-teal' %}
                                {% elseif item.color == 'yellow' %}
                                    {% set tColor = 'text-yellow' %}
                                {% endif %}

                                {% if item.bolded %}
                                    {% set boldStyle = 'font-bold' %}
                                {% else %}
                                    {% set boldStyle = 'font-normal' %}
                                {% endif %}

                                {% if item.italicized %}
                                    {% set italicStyle = 'italic' %}
                                {% else %}
                                    {% set italicStyle = '' %}
                                {% endif %}

                                <div class="{{ sizes }} {{ boldStyle }} {{ italicStyle }} {{ tColor }} pb-3">{{ item.text }}</div>
                            {% case 'buttonBlock' %}

                                <button>
                                    <a class="" href="{% if item.internalReference|length %}{{ item.buttonInternalReference.one().url }}{% else %}{{ item.buttonExternalReference }}{% endif %}">
                                        <div class="relative my-10 overflow-hidden">
                                            <div class="{% if item.buttonColor == 'navy' %}bluebutton{% elseif item.buttonColor == 'white' %}whitebutton{% endif %}">
                                                Join Today
                                            </div>
                                        </div>
                                    </a>
                                </button>
                                
                        {% endswitch %}
                    {% endfor %}
                </div>
                
            </div>
        </div>
    </div>

    {% set squiggle1 = entry.chapterSquiggle1.one() %}
    {% set sprout = entry.chapterSprout.one() %}

    <div class="edge bg-red bg-no-repeat text-center bkg-custom-1 relative overflow-hidden">
        <img class="absolute top-[-0.5rem] left-[-2.5rem] w-[20rem] sm:w-[25rem] md:w-[28rem] lg:w-[35rem] xxl:w-[40rem]" src="{{ squiggle1.getUrl() }}" alt="">
        <img class="w-10 mx-auto pt-80 pb-10 lg:w-16" src="{{ sprout.getUrl() }}" alt="">
        <div class="mx-auto">
            <h1 data-aos="fade-up" data-aos-duration="1000" class="text-xl sm:text-2xl font-semibold font-sans text-blue leading-normal sm:px-20 pb-20 lg:text-3xl max-w-screen-lg mx-auto">
            
                {% for item in entry.multiColorText %}

                    {% if item.color == 'blue' %}
                        {% set tColor = 'text-blue' %}
                    {% elseif item.color == 'navy' %}
                        {% set tColor = 'text-deepnavy' %}
                    {% elseif item.color == 'white' %}
                        {% set tColor = 'text-linen' %}
                    {% elseif item.color == 'red' %}
                        {% set tColor = 'text-red' %}
                    {% elseif item.color == 'mint' %}
                        {% set tColor = 'text-green' %}
                    {% elseif item.color == 'teal' %}
                        {% set tColor = 'text-teal' %}
                    {% elseif item.color == 'yellow' %}
                        {% set tColor = 'text-yellow' %}
                    {% endif %}

                    <span class="{{ tColor }}">{{ item.text }} </span>
                {% endfor %}
            
            </h1>
        </div>
    </div>

    <div style="padding:56.25% 0 0 0;position:relative;"><iframe src="{{ entry.vimeoEmbedLink }}" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>


    {% set map = entry.chapterMap.one() %}
    {% set map2 = entry.usaMapOutline.one() %}

    <div class="relative z-[60] bg-linen w-full">
        <div class="edge">
            <h1 class="text-md text-red tracking-wider font-semibold pb-8">{{ entry.banner4Header|upper }}</h1>

            <div class="sm:flex  max-w-screen-lg">
                <div class="pb-20 w-11/12 mr-8 ">
                    {% for item in entry.chaptersDescriptiveText|split('</p>') %}
                        <div class="text-blue text-lg sm:text-xl md:text-xl lg:text-2xl xl:text-3xl pb-8">
                            {{ item|striptags }}
                        </div>
                    {% endfor %}
                </div>
                <div class="hidden sm:block">
                    <div class="border-l-4 border-r-4 border-red w-64 text-center">
                        <span class="font-serif font-bold"  style="font-size: 120pt;">{{ entry.currentChapters }}</span>
                        <p class="text-blue font-semibold text-2xl">{{ entry.activeChaptersText }}</p>
                    </div>
                </div>
            </div>

            <div class="relative sm:h-[50rem] md:h-[56rem] lg:h-[67rem] xl:h-[85rem] bg-linen">
                <div class="hidden sm:block absolute top-0 transition-all ease-in-out duration-200 transform sm:translate-x-[-48%] sm:w-[55rem] md:w-[67rem] lg:w-[95rem] xl:w-[120rem] xxl:translate-x-[-40%]">
                    <img class="w-full" src="{{ map.getUrl() }}" alt="">
                </div>

        

                <div class="sm:hidden relative">
                    <img src="{{ map2.getUrl() }}" alt="">

                    <div class="absolute left-[10%] top-[25%]">
                        <div class="flex items-center">
                            <span class="font-serif font-bold pr-2 text-7xl">6</span>
                            <p class="font-semibold text-lg text-red leading-5">active <br>chapters</p>
                        </div>
                    </div>

                    <span class="absolute w-2 h-2 bg-red rounded-full left-[83%] top-[55.5%]">
                        <span class="animate-ping absolute w-2 h-2 bg-red rounded-full"></span>
                    </span>
                    <span class="absolute w-2 h-2 bg-red rounded-full left-[78%] top-[60.2%]">
                        <span class="animate-ping absolute w-2 h-2 bg-red rounded-full"></span>
                    </span>
                    <span class="absolute w-2 h-2 bg-red rounded-full left-[80%] top-[58.5%]">
                        <span class="animate-ping absolute w-2 h-2 bg-red rounded-full"></span>
                    </span>
                    <span class="absolute w-2 h-2 bg-red rounded-full left-[47.5%] top-[70%]">
                        <span class="animate-ping absolute w-2 h-2 bg-red rounded-full"></span>
                    </span>
                    <span class="absolute w-2 h-2 bg-red rounded-full left-[63%] top-[40%]">
                        <span class="animate-ping absolute w-2 h-2 bg-red rounded-full"></span>
                    </span>
                    <span class="absolute w-2 h-2 bg-red rounded-full left-[79%] top-[39%]">
                        <span class="animate-ping absolute w-2 h-2 bg-red rounded-full"></span>
                    </span>

                </div>

                <div class="pt-10 sm:hidden">
                    <div class="grid grid-cols-2 text-center">
                        <div class="pb-4" data-aos="zoom-in-up" data-aos-duration="1000" class="">
                            <p class="font-semibold">Abeline Christian University</p>
                            <p class="text-md whitespace-nowrap">Abiline, TX</p>
                        </div>
                        <div class="pb-4" data-aos="zoom-in-up" data-aos-duration="1000" class="">
                            <p class="font-semibold">UNC Chapel Hill</p>
                            <p class="text-md whitespace-nowrap">Chapel Hill, NC</p>
                        </div>
                        <div class="pb-4" data-aos="zoom-in-up" data-aos-duration="1000" class="">
                            <p class="font-semibold">Duke University</p>
                            <p class="text-md whitespace-nowrap">Durham, NC</p>
                        </div>
                        <div class="pb-4" data-aos="zoom-in-up" data-aos-duration="1000" class="">
                            <p class="font-semibold">University of Virginia</p>
                            <p class="text-md whitespace-nowrap">Charlottesville, VA</p>
                        </div>
                        <div class="pb-4" data-aos="zoom-in-up" data-aos-duration="1000" class="">
                            <p class="font-semibold">Grove City College</p>
                            <p class="text-md whitespace-nowrap">Grove City, PA</p>
                        </div>
                        <div class="pb-4" data-aos="zoom-in-up" data-aos-duration="1000" class="">
                            <p class="font-semibold">Wheaton College</p>
                            <p class="text-md whitespace-nowrap">Wheaton, IL</p>
                        </div>
                    </div>
                </div>

                <div class="hidden sm:block">
                <div data-aos="zoom-in-up" data-aos-duration="1000" class="absolute text-blue tracking-wider text-[10px] lg:text-[11px] xl:text-sm sm:left-[26.1rem] sm:top-[11.1rem] md:left-[31.8rem]        md:top-[13.75rem] lg:left-[44.8rem]   lg:top-[19.5rem] xl:left-[56.5rem]    xl:top-[24.5rem] xxl:left-[66.2rem]">
                        <p class="font-bold whitespace-nowrap">GROVE CITY COLLEGE</p>
                        <p class="text-md whitespace-nowrap hidden lg:block">GROVE CITY, PA</p>
                    </div>

                    <div data-aos="zoom-in-up" data-aos-duration="1000" class="absolute text-blue tracking-wider text-[10px] lg:text-[11px] xl:text-sm sm:left-[26.1rem] sm:top-[13.4rem] md:left-[31.8rem]    md:top-[16.4rem] lg:left-[44.8rem]    lg:top-[23.45rem] xl:left-[56.5rem]   xl:top-[29.5rem] xxl:left-[66.2rem]">
                        <p class="font-bold whitespace-nowrap">WHEATON COLLEGE</p>
                        <p class="text-md whitespace-nowrap hidden lg:block">WHEATON, IL</p>
                    </div>

                    <div data-aos="zoom-in-up" data-aos-duration="1000" class="absolute text-blue tracking-wider text-[10px] lg:text-[11px] xl:text-sm sm:left-[26.1rem] sm:top-[15.25rem] md:left-[31.8rem]   md:top-[18.6rem] lg:left-[44.8rem]    lg:top-[26.45rem] xl:left-[56.5rem]   xl:top-[33.25rem] xxl:left-[66.2rem]">
                        <p class="font-bold whitespace-nowrap">UNIVERSITY OF VIRGINIA</p>
                        <p class="text-md whitespace-nowrap hidden lg:block">CHARLOTTESVILLE, VA</p>
                    </div>

                    <div data-aos="zoom-in-up" data-aos-duration="1000" class="absolute text-blue tracking-wider text-[10px] lg:text-[11px] xl:text-sm sm:left-[26.1rem] sm:top-[16.6rem] md:left-[31.8rem]    md:top-[20.1rem] lg:left-[44.8rem]    lg:top-[28.65rem] xl:left-[56.5rem]   xl:top-[36.18rem] xxl:left-[66.2rem]">
                        <p class="font-bold whitespace-nowrap">UNC CHAPEL HILL</p>
                        <p class="text-md whitespace-nowrap hidden lg:block">CHAPEL HILL, NC</p>
                    </div>

                    <div data-aos="zoom-in-up" data-aos-duration="1000" class="absolute text-blue tracking-wider text-[10px] lg:text-[11px] xl:text-sm sm:left-[26.1rem] sm:top-[18.3rem] md:left-[31.8rem]    md:top-[22.25rem] lg:left-[44.8rem]    lg:top-[31.75rem] xl:left-[56.5rem]  xl:top-[39.9rem] xxl:left-[66.2rem]">
                        <p class="font-bold whitespace-nowrap">DUKE UNIVERSITY</p>
                        <p class="text-md whitespace-nowrap hidden lg:block">DURHAM, NC</p>
                    </div>
                    
                    <div data-aos="zoom-in-up" data-aos-duration="1000" class="absolute text-blue tracking-wider text-[10px] lg:text-[11px] xl:text-sm sm:left-[3.35rem] sm:top-[31.4rem] md:left-[4.7rem] md:top-[38.0rem] lg:left-[7rem] lg:top-[53.9rem] xl:left-[9.18rem] xl:top-[68.0rem] xxl:left-[18.7rem]">
                        <p class="font-bold whitespace-nowrap">ABILENE CHRISTIAN<br>UNIVERSITY</p>
                        <p class="text-md whitespace-nowrap hidden lg:block">ABILENE, TX</p>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>

    {% set sctable = entry.scTablingAtDuke.one().getUrl() %}
  
    <div class="relative bg-top">
        <div class="edge-x">
            <div v-prlx="{ speed: 0.15, preserveInitialPosition: false, }" class="hidden sm:block absolute top-[-20rem] left-0 right-0 bottom-0 bg-top bg-cover" style="background-image: url({{sctable}})"></div>
            <div class="mx-auto max-w-screen-2xl">
                <h1 class="headercaps text-xl pt-60 pb-28 lg:pt-96 lg:pb-32 hidden sm:block relative z-[70]">{{ entry.banner5Header|upper }}</h1>
            </div>
        </div>
        <div class="sm:flex sm:flex-wrap justify-center mx-auto ">
            {% set i = 0 %}
            {% for card in entry.chaptersCards.all() %}
                {% set isLast = (i == (entry.chaptersCards.all()|length - 1)) %}
                <div class="relative z-50">
                    <div v-prlx="{ speed: 0.03, preserveInitialPosition: false, }" class="w-full transition-all ease-in-out duration-300 transform sm:w-[13rem] md:w-[15.5rem] lg:w-[19rem] xl:w-[22rem] relative z-[80]">
                        <div class="h-6 {% switch card.themeColor.value %}{% case 'mint' %}bg-green{% case 'peach' %}bg-red{% case 'canary' %}bg-yellow{% case 'zeal' %}bg-teal{% case 'quartz' %}bg-pink{% case 'dusk' %}bg-blue{% endswitch %} {% if not isLast %} sm:mr-5 {% endif %}">
                        </div>
                        <div class="{% if not isLast %} sm:mr-5 {% endif %} bg-linen align-center text-center pt-10 md:pb-4 lg:pb-10">
                            <div class="h-30">
                                <img class="h-24 sm:h-28 sm:w-60 mx-auto" src="{{ card.cardIcon.one().getUrl() }}" alt="">
                            </div>
                            <div class="h-16 sm:h-8 lg:h-16 pt-4">
                                <h1 class="text-3xl sm:text-2xl lg:text-3xl text-blue font-serif font-bold">{{ card.cardTitle|lower }}</h1>
                            </div>
                            <div class="text-lg sm:text-xs md:text-sm lg:text-lg leading-relaxed text-blue w-full sm:w-3/4 lg:w-full mx-auto my-8 px-6 sm:px-2 lg:px-10 h-36 lg:h-68">
                                <p>{{ card.cardDescription|striptags }}</p>
                            </div>
                            <button class="w-52 sm:w-40 lg:w-52 xl:w-64 mb-8">
                                <a class="" href="{% if card.cardButtonInternalReference.one()|length %}{{ card.cardButtonInternalReference.one().url }}{% else %}{{ card.cardButtonExternalReference }}{% endif %}">
                                    <div class="bluebutton sm:text-sm lg:text-lg">
                                        {{ card.cardButtonText }}
                                    </div>
                                </a>
                            </button>
                        </div>
                    </div>
                </div>
                {% set i = i + 1 %}
            {% endfor %}
            <div class="absolute z-0 bg-yellow bottom-0 left-0 right-0 h-[7rem]">
            </div>
        </div>
    </div>

    {% set quotes = [] %}

    {% for q in entry.testimonialCarousel.all() %}
        {% set quotes = quotes|merge([{
            quoteIcon: q.testimonialReference.one().testimonialHeadshot.one().getUrl(),
            quoteText: q.testimonialReference.one().testimonialQuote|striptags,
            name: q.testimonialReference.one().testimonialName,
            description: q.testimonialReference.one().testimonialNameDescription,
        }]) %}
    {% endfor %}

    <div class="edge relative bg-yellow z-20 overflow-hidden">
        <div class="max-w-screen-2xl mx-auto ">
            <carousel-quote :quotes="{{ quotes|json_encode }}" qicon="{{ craft.entries.slug('site-wide-assets').one().genericQuoteIcon.one().getUrl() }}"></carousel-quote>
        </div>
    </div>


    <div class="bg-linen relative z-[60] edge">
        <div id="connect" class="max-w-screen-2xl mx-auto ">
            <h1 class="text-2xl sm:text-3xl md:text-4xl lg:text-5xl xl:text-6xl font-serif font-bold text-blue pb-6">{{ entry.banner7Header }}</h1>
            <div class="text-lg sm:text-xl lg:text-2xl pb-6">{{ entry.banner7Description }}</div>
            <div>
                <div data-tf-widget="AnEbWoja" data-tf-opacity="0" data-tf-iframe-props="title=Student Chapters Interest Form" data-tf-medium="snippet" style="width:100%;height:600px;"></div><script src="//embed.typeform.com/next/embed.js"></script>
            </div>
        </div>
    </div>
    
    <div class="relative bg-red edge-x py-20 overflow-hidden">
        <img class="absolute top-[-0.5rem] left-[-2.5rem] w-[15rem] sm:w-[20rem] md:w-[24rem] lg:w-[26rem] xxl:w-[32rem]" src="{{ squiggle1.getUrl() }}" alt="">

        <div class="max-w-screen-2xl mx-auto">
            <div class="text-center mb-12 xl:mb-20 xxl:mb-24">
                <h2 class="text-lg text-linen tracking-wider font-semibold">{{ entry.banner8Header|upper }}</h2>
            </div>
            <div class="sm:flex justify-center">

                {% for item in entry.exploreCards %}
                    <div class="sm:mr-6 lg:mr-10 mb-12 sm:mb-0">

                        <div class="flex items-center justify-center">
                            <img class="w-40 h-40" src="{{ item.cardIcon.one().getUrl() }}" alt="">
                        </div>
                        <div class="flex items-center justify-center sm:block">
                            <a href="{% if item.buttonInternalReference|length %}{{ item.buttonInternalReference.one().url }}{% else %}{{ item.buttonExternalReference }}{% endif %}">
                                <button>
                                    <div class="bluebutton w-[16rem] text-sm sm:text-lg">{{ item.buttonText }}</div>
                                </button>
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    {% set f = [] %}

    {% for item in entry.faqs.all() %}
        {% set f = f|merge([
            {
                question:item.question,
                answer:item.answer|striptags,
                isOpen:false,
                height:0,
            }
        ]) %}
    {% endfor %}

    {% set caret = entry.faqCaret.one().getUrl() %}

    <div class="bg-lightgreen edge-x py-20">
        <div class="max-w-screen-2xl mx-auto">
            <faq :faqs="{{ f|json_encode }}" caret="{{ caret }}" textcolor="text-blue"></faq>
        </div>
    </div>
{% endblock %}

{% block bodyJs %}
    {{ parent() }}
    <script type="text/javascript" src="https://ou715.infusionsoft.app/app/webTracking/getTrackingCode"></script>
    <script type="text/javascript" src="https://ou715.infusionsoft.com/app/timezone/timezoneInputJs?xid=4c3ed1e94c197fa78a221fb1092b5c8e"></script>
{% endblock bodyJs %}
