{% extends "_layouts/generic-page-layout.twig" %}

{% set pageBackground = pageBackground|default('linen') %}
{% set navigationColor = navigationColor|default('blue') %}
{% set storyCategories = craft.categories.group('stories').level(1).all() %}

{% block headMeta %}
    {% if entry.pageDescription|length %}
        <meta name="description" content="{{ entry.pageDescription }}">
    {% endif %}
{% endblock %}

{% block headLinks %}
    {{ parent() }}
{% endblock headLinks %}

{% block contentborderless %}

    <div class="edge-x py-20 lg:py-32">
        <div class="py-20 max-w-screen-2xl mx-auto">
            <h1 class="header-one pb-12">charity<br>recommendations <span class="tracking-overlap hidden sm:inline">–––––––––</span></h1>

            <h1 class="headercaps pb-10">CURRENT TOP 7 PICKS</h1>

            <div class="">
                <h1 class="text-xl sm:text-2xl md:text-3xl font-bold tracking-wide text-blue pb-4">Our <span class="text-red">top 7</span> charities include...</h1>
                <div class="pl-20 pb-6">
                    <p class="smalltext sm:mediumtext">5 <span class="xsmalltext sm:smalltext">global charities that fall within each cause area</span></p>
                    <p class="smalltext font-semibold">+</p>
                    <p class="smalltext sm:mediumtext">1 <span class="xsmalltext sm:smalltext">global charity that works in all five cause areas</span></p>
                    <p class="smalltext font-semibold">+</p>
                    <p class="smalltext sm:mediumtext">1 <span class="xsmalltext sm:smalltext">domestic charity</span></p>
                </div>
                <hr class="pt-8 pb-4">
            </div>



            {% set topSevenData = [] %}

            {% for partner in craft.entries.section('partners').orderBy('topSevenSortIndex').all() %}
                {% if partner.topSeven %}

                    {% set textcolor = 'text-red' %}
                    {% set bgcolor = 'bg-red' %}
                    {% set accentcolor = 'text-blue' %}

                    {% switch partner.topSevenClassification.one().causeAreaColor.value %}
                        {% case 'red'%}
                            {% set textcolor = 'text-red' %}
                            {% set bgcolor = 'bg-red' %}
                        {% case 'yellow'%}
                            {% set textcolor = 'text-yellow' %}
                            {% set bgcolor = 'bg-yellow' %}
                        {% case 'pink'%}
                            {% set textcolor = 'text-pink' %}
                            {% set bgcolor = 'bg-pink' %}
                        {% case 'green'%}
                            {% set textcolor = 'text-green' %}
                            {% set bgcolor = 'bg-green' %}
                        {% case 'teal'%}
                            {% set textcolor = 'text-teal' %}
                            {% set bgcolor = 'bg-teal' %}
                            {% set accentcolor = 'text-linen' %}
                        {% case 'blue'%}
                            {% set textcolor = 'text-blue' %}
                            {% set bgcolor = 'bg-blue' %}
                            {% set accentcolor = 'text-linen' %}
                        {% case 'navy'%}
                            {% set textcolor = 'text-deepnavy' %}
                            {% set bgcolor = 'bg-deepnavy' %}
                            {% set accentcolor = 'text-linen' %}
                    {% endswitch %}


                    {% set topSevenData = topSevenData|merge([
                        {
                            'areaIcon':'AREAICON',
                            'focus': partner.partnerFocus,
                            'motto': partner.partnerMotto,
                            'name': partner.title,
                            'open':'no',
                            'textcolor': textcolor,
                            'bgcolor': bgcolor,
                            'accentcolor': accentcolor,
                            'dollarImpact':partner.partnerImpact|striptags,
                            'icon':partner.partnerIcon.one().getUrl(),
                            'categoryName': partner.topSevenClassification.one().causeAreaName,
                            'categoryIcon': partner.topSevenClassification.one().causeAreaIconRange.one().getUrl(),
                            'url': partner.url,
                        }
                    ]) %}
                {% endif %}
            {% endfor %}



            <top-seven :topsevendata="{{ topSevenData|json_encode }}" caret="{{ entry.charityCaret.one().getUrl() }}"></top-seven>

        </div>

        {% set charities = [] %}

        {% for item in craft.entries.section('partners').all() %}
            {% if item.isFeaturedOnCharitiesPage %}
                {% set charities = charities|merge([
                    {
                        name:item.title,
                        url:"/partners/" ~ item.slug,
                        color: "bg-" ~ item.partnerColor.handle|default('linen') ,

                        healthIsCause:item.causeArea.contains("health"),
                        educationIsCause:item.causeArea.contains("education"),
                        ministryIsCause:item.causeArea.contains("ministry"),
                        capitalIsCause:item.causeArea.contains("capital"),
                        safetyIsCause:item.causeArea.contains("safety"),

                        nineteenIsYear:item.yearRecommended.contains("20192020"),
                        twentyIsYear:item.yearRecommended.contains("20202021"),
                        twentyOneIsYear:item.yearRecommended.contains("20212022"),

                        topSeven:item.topSeven,

                        icon:item.partnerIcon.one().getUrl(),
                        motto:item.partnerMotto,
                        focus:item.partnerFocus,
                        impact:item.partnerImpact|striptags,

                        opened: false,
                        visible: true,
                    }
                ]) %}
            {% endif %}
        {% endfor %}
    </div>
    <div class="bg-deepnavy relative edge-x">
        <charity-search :partners="{{ charities | json_encode }}" caret="{{ entry.charityCaret.one().getUrl() }}" barecaret="{{ entry.bareCaret.one().getUrl() }}"></charity-search>
        {% set wave = entry.blueWaveOne.one() %}
    </div>
    <div class="relative h-[5rem] bg-green w-full">
        <div class="absolute left-0 right-0 top-0">
            <img class="w-full" src="{{wave.getUrl()}}" alt="">
        </div>
    </div>
    

    

    <div class="edge sm:pt-[8rem] md:pt-[8rem] lg:pt-[8rem] lg:pb-[8rem] xl:pt-[16rem] xxl:pt-[16rem] bg-green">
        <div class="mx-auto max-w-screen-xl">
            <h5 class="headercaps text-linen pb-6">{{ entry.donateInformationHeader|upper }}</h5>
            <div class="redactor text-lg sm:text-2xl font-semibold pb-6">
                {{ entry.donateInformationHeroText }}
            </div>
            <div class="redactor text-lg pb-6">
                {{ entry.donateInformationText }}
            </div>
            

            <a href="{{ craft.entries.slug('process').one().url }}">
                <button>
                    <div class="bluebutton">
                        See our vetting process
                    </div>
                </button>
            </a>
        </div>
    </div>

    

{% endblock %}

{# -- Any JavaScript that should be included before </body> -- #}
{% block bodyJs %}
    {{ parent() }}
{% endblock bodyJs %}
