{% extends "_layouts/generic-page-layout.twig" %}

{% set relatedPartner = entry.relatedPartner.one() %}
{% set pageBackground = pageBackground|default('deepnavy') %}
{% set navigationColor = navigationColor|default('blue') %}

{% block headLinks %}
    {{ parent() }}
{% endblock headLinks %}

{% set transcriptAvailable = true %}
{% if entry.podcastTranscript.all()|length and entry.transcriptActive %}
    {% set transcript = [] %}

    {% for podBlock in entry.podcastTranscript.all() %}

        {% set hs = "" %}

        {% if podBlock.speaker.one().personHeadshot %}
            {% set hs = podBlock.speaker.one().personHeadshot.one().getUrl() %}
        {% endif %}

        {% set transcript = transcript|merge([{
            'timestamp': podBlock.timestamp, 
            'speakerName': podBlock.speaker.one().personName,
            'speakerHeadshot': hs,
            'text': podBlock.text|striptags,
        }]) %}

    {% endfor %}
{% else %}
    {% set transcriptAvailable = false %}
{% endif %}

{% block contentborderless %}

    {# BANNER 1: HEADER #}

    <div class="edge edge-t md:hidden">
        <div class="mx-auto max-w-screen-2xl relative">
            <div class="w-full">

                <vue-typed-js :strings="['{{ entry.episodeTitle }}']" :typeSpeed="3000">
                    <h1 class="leading-tight text-2xl sm:text-3xl lg:text-4xl font-semibold mt-26 mb-10 text-linen">
                        Episode <span class="typing"></span>
                    </h1>
                </vue-typed-js>

                <div class="w-full pb-8">
                    {% set art = entry.episodeArt.one().podcastArtOptimize %}
                    <picture>
                        <source data-srcset="{{ art.srcset() }}"
                                data-sizes="(min-width: 1280) 25vw, (min-width: 768) 50vw, 100vw"
                                type="image/webp"/>
                        <img src="{{ art.placeholderImage() }}"
                            data-srcset="{{ art.srcset() }}"
                            class="lazyload blur-up"
                            data-sizes="(min-width: 1280) 25vw, (min-width: 768) 50vw, 100vw"
                            alt="Episode art"
                        />
                    </picture>
                </div>

                <div class="text-linen text-lg ">
                    <p> {{ entry.episodeDescription }} </p>
                </div>
            </div>
        </div>
    </div>

    <div class="edge h-screen min-h-[45rem] xl:min-h-[60rem] hidden md:block">
        <div class="mx-auto max-w-screen-2xl relative h-screen min-h-[45rem] xl:min-h-[60rem]">
            <div class="flex items-center absolute inset-0 xl:translate-y-[-3rem]">
                <section class="justify-center flex">
                    <div class="w-7/12 pr-8 md:pb-10">
                        <header class="w-full z-10 relative pb-16">
                            <a href="{{ craft.entries.slug('podcast').one().url }}" class="hover:text-yellow text-linen"> <p class="header-one text-linen">podcast <span class="tracking-overlap hidden sm:inline">–––––––––</span></p> </a>
                        </header>
                        <vue-typed-js :strings="['{{ entry.episodeTitle }}']" :typeSpeed="3000">
                            <h1 class="leading-tight text-2xl sm:text-3xl lg:text-4xl font-semibold mt-26 mb-10 text-linen">
                                Episode <span class="typing"></span>
                            </h1>
                        </vue-typed-js>
                        <div class="text-linen text-lg xxl:text-xl">
                            <p> {{ entry.episodeDescription }} </p>
                        </div>
                    </div>
                    <div class="w-5/12">
                        <div class="w-full max-w-[50rem] inline-block">
                            <div class="w-full">
                                {% set art = entry.episodeArt.one().podcastArtOptimize %}
                                <picture>
                                    <source data-srcset="{{ art.srcset() }}"
                                            data-sizes="(min-width: 1280) 25vw, (min-width: 768) 50vw, 100vw"
                                            type="image/webp"/>
                                    <img src="{{ art.placeholderImage() }}"
                                        data-srcset="{{ art.srcset() }}"
                                        class="lazyload blur-up"
                                        data-aos="fade-up" data-aos-duration="1000"
                                        data-sizes="(min-width: 1280) 25vw, (min-width: 768) 50vw, 100vw"
                                        alt="Episode art"
                                    />
                                </picture>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>

    {# BANNER 2: LISTEN #}

    <div class="edge bg-green">
        <div class="mx-auto max-w-screen-2xl">
            <div class="pb-4 sm:pb-8 w-2/3">
                <p class="text-xs sm:text-sm lg:text-md text-blue font-semibold tracking-wider">LISTEN</p>
            </div>
            
            <div class="md:flex my-8">
                <div class="w-full md:w-1/2 md:pr-8">
                    {% set img = entry.episodeFeatureImage.one().storyImagesOptimize %}
                    <picture >
                        <source data-srcset="{{ img.srcset() }}"
                                data-sizes="(min-width: 1280) 25vw, (min-width: 768) 50vw, 100vw"
                                type="image/webp"/>
                        <img src="{{ img.placeholderImage() }}"
                            data-srcset="{{ img.srcset() }}"
                            class="lazyload blur-up"
                            data-sizes="(min-width: 1280) 25vw, (min-width: 768) 50vw, 100vw"
                            data-aos="fade-up" data-aos-duration="1000"
                            alt="Episode feature image"
                        />
                    </picture>
                </div>
                <h1 class="w-full md:w-1/2 text-2xl md:text-3xl md:text-4xl lg:text-5xl xl:text-6xl font-serif text-blue leading-tight mt-4 md:mt-0">
                    {{ entry.episodeHeroText }}
                </h1>
            </div>
            <div class="flex justify-center">
                <div class="w-[60rem] mt-10">
                    <h1 class="text-blue text-2xl font-bold mb-6 text-center md:text-left">Listen to the episode</h1>
                    <div class="w-full mb-20 max-w-[60rem]" id='buzzsprout-small-player-1046077-tags-{{ entry.slug }}'></div><script type='text/javascript' charset='utf-8' src='https://www.buzzsprout.com/1046077.js?player=small&tags={{ entry.slug }}&container_id=buzzsprout-small-player-1046077-tags-{{ entry.slug }}'></script>
                    {% if transcriptAvailable %}
                        <podcast-player :transcript="{{ transcript|json_encode }}"></podcast-player>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    {# BANNER 3: CREDITS #}
        
    <div class="edge">
        <div class="mx-auto max-w-screen-2xl">
            <div class="pb-4 sm:pb-8">
                <p class="text-xs text-center sm:text-sm lg:text-md text-linen font-semibold tracking-wider">CREDITS</p>
            </div>
            <section class="relative text-center sm:py-20 mx-auto">
                <div class="z-10 w-full my-16 sm:mt-0 sm:mb-16">
                    <p class="text-xl sm:text-2xl lg:text-3xl xl:font-4xl font-bold leading-tight mb-4 text-linen text-xl sm:text-3xl">
                        People Interviewed
                    </p>
                    <div class="my-4 leading-loose text-linen">
                        {% for item in entry.peopleInterviewed|split('</p>') %}
                            <div class="text-linen text-lg lg:text-xl">{{ item|striptags }}</div>
                        {% endfor %}
                    </div>
                </div>
                <div class="z-10 w-full">
                    <p class="mt-4 sm:mt-0 text-xl sm:text-2xl lg:text-3xl xl:font-4xl font-bold leading-tight mb-4 text-linen text-xl sm:text-3xl">
                    Music
                    </p>
                    <content-toggle closedText="See References" openedText="Hide References">
                        <p class="my-4 leading-loose">
                            {% for item in entry.music|split('</p>') %}
                                <div class="text-linen text-sm lg:text-lg">{{ item|striptags }}</div>
                            {% endfor %}
                        </p>
                    </content-toggle>
                    <p class="mt-4 text-xl sm:text-2xl lg:text-3xl xl:font-4xl font-bold leading-tight mb-4 text-linen text-xl sm:text-3xl">
                    Sound Effects
                    </p>
                    <content-toggle closedText="See References" openedText="Hide References">
                        <p class="my-4 leading-loose">
                            {% for item in entry.soundEffects|split('</p>') %}
                                <div class="text-linen text-sm lg:text-lg pb-4">{{ item|striptags }}</div>
                            {% endfor %}
                        </p>
                    </content-toggle>
                </div>
            </section>
        </div>
    </div>

    {# BANNER 4: HEAR MORE #}

    <div class="edge bg-red">
        <div class="mx-auto max-w-screen-2xl">
            <div class="pb-4 sm:pb-8">
                <p class="text-xs sm:text-sm lg:text-md text-blue font-semibold tracking-wider">HEAR MORE TWO COINS</p>
            </div>
            {% set randEpisode = random(craft.entries.section("seasonOne").id("not " ~ entry.id).all()) %}

            <div class="md:flex">
                <div class="w-full md:w-5/12 xl:w-1/3">
                    <a href="{{ randEpisode.url}}">
                        <div class="w-full mb-8 relative group overflow-hidden hover:cursor-pointer">
                            {% set art = randEpisode.episodeArt.one().podcastArtOptimize %}
                            <picture>
                                <source data-srcset="{{ art.srcset() }}"
                                        data-sizes="(min-width: 1280) 25vw, (min-width: 768) 50vw, 100vw"
                                        type="image/webp"/>
                                <img src="{{ art.placeholderImage() }}"
                                    data-srcset="{{ art.srcset() }}"
                                    class="lazyload blur-up transition ease-in-out duration-300 transform group-hover:scale-105"
                                    data-sizes="(min-width: 1280) 25vw, (min-width: 768) 50vw, 100vw"
                                    alt="Episode art"
                                />
                            </picture>
                            <div class="absolute inset-0 bg-deepnavy z-10 opacity-[0] transition-opacity ease-in-out duration-300 transform group-hover:opacity-[0.8]">
                            </div>
                        </div>
                    </a>
                    
                </div>
                <div class="w-full md:w-7/12 xl:w-2/3 pl-8">
                    <div class="">
                        <a href="{{ randEpisode.url}}">
                            <p class="leading-tight text-2xl sm:text-3xl lg:text-4xl font-semibold mb-10 text-linen underline">
                                Episode {{ randEpisode.episodeTitle }}
                            </p>
                        </a>
                        <div class="text-linen text-lg mb-10">
                            <p> {{ randEpisode.episodeDescription }} </p>
                        </div>
                    </div>
                    <div class="w-full hidden md:block">
                        <h1 class="md:text-3xl lg:text-4xl xl:text-5xl font-serif text-linen leading-tight">
                            {{ randEpisode.episodeHeroText|typogrify }}
                        </h1>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {# BANNER 5: MORE WAYS TO LISTEN #}

    <div class="edge">
        <div class="max-w-screen-2xl mx-auto">
            <div class="pb-4 sm:pb-8">
                <p class="text-xs sm:text-sm lg:text-md text-yellow font-semibold tracking-wider">MORE WAYS TO LISTEN</p>
            </div>
            <div class="my-20 w-full flex justify-center flex-wrap">
                {% set i = 0 %}
                {% for external in craft.entries.slug("podcast").one().podcastExternals.all() %}
                    <a href="{{ external.externalLink }}">
                        <button data-aos="fade-up" data-aos-duration="1000" data-aos-delay="{{i}}" type="button" class="whitebutton w-[16rem] mx-4 my-2">
                            {{ external.externalName }}
                        </button>
                    </a>
                    {% set i = i + 200 %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

{% block subcontent %}

{% endblock %}

{# -- Any JavaScript that should be included before </body> -- #}
{% block bodyJs %}
{{ parent() }}
{% endblock bodyJs %}
