{% extends "_layouts/generic-page-layout.twig" %}

{% set pageBackground = pageBackground|default('linen') %}



{% block headLinks %}
    {{ parent() }}
{% endblock headLinks %}

{% block contentborderless %}


    {% set sprouts = [] %}
    {% set i = 0 %}

    {% for sprout in craft.entries.slug('site-wide-assets').one().simpleCharitySprouts.all() %}
        {% set sprouts = sprouts|merge([{
            "sproutRef": sprout.colorSprout.one().getUrl(),
            "index": i + 1,
            "isVisible": i == 0,
        }]) %}
        {% set i = i + 1 %}
    {% endfor %}
    
    <div class="w-full">
        <solidarity-resolution-splash :sprouts="{{ sprouts|json_encode }}"></solidarity-resolution-splash>
    
        
    </div>

    {% set pgs = [] %}
    {% set index = 0 %}

    {% for page in entry.solidarityResolutionPages %}

        {% if index == 0 %}
            {% set alignment = 'left-[25%] top-[0%]' %}
        {% elseif index == 1 %}
            {% set alignment = 'left-[75%] top-[0%]' %}
        {% elseif index == 2 %}
            {% set alignment = 'left-[0%] top-[43.30%]' %}
        {% elseif index == 3 %}
            {% set alignment = 'left-[100%] top-[43.30%]' %}
        {% elseif index == 4 %}
            {% set alignment = 'left-[25%] top-[86.60%]' %}
        {% elseif index == 5 %}
            {% set alignment = 'left-[75%] top-[86.60%]' %}
        {% endif %}

        {% set b = [] %}

        {% for paragraph in page.body|split("</p>") %}
            {% set b = b|merge([paragraph|striptags]) %}
        {% endfor %}

        {% set pgs = pgs|merge([
            {
                name: page.srName,
                icon: page.icon.one().getUrl(),
                body: b,
                commitment: page.commitment|striptags,
                aspiration: page.resolution|striptags,
                solidarity: page.solidarity|striptags,
                align: alignment,
            }
        ]) %}

        {% set body = [] %}
        {% set index = index + 1 %}
    {% endfor %}
    <div class="bg-deepnavy edge pb-[15rem]">
        <solidarity-interactive :srpages="{{ pgs|json_encode }}"></solidarity-interactive>
    </div>  
    
    <div class="edge">
        <h3 class="font-sans font-semibold text-4xl mb-20">
            Make the commitment.
        </h3>
        <div class="max-w-screen-md mx-auto">
            <div>
                <div data-tf-widget="Xaz3LbWD" data-tf-opacity="0" data-tf-iframe-props="title=Solidarity Resolution Interest Form" data-tf-medium="snippet" style="width:100%;height:500px;"></div><script src="//embed.typeform.com/next/embed.js"></script>
            </div>
        </div>
    </div>

    {% if false %}
        <div class="edge bg-deepnavy">
            <section class="edge-t content-ctn mx-auto relative">
                <header class="w-full z-10 relative mx-auto max-w-screen-md">
                    <h1 class="header-one text-linen mb-20 sm:mb-32 whitespace-nowrap">
                         solidarity resolution <span class="tracking-overlap hidden sm:inline">–––––––</span>
                    </h1>
                </header>
            </section>

            <section class="text-linen">
                {% for page in entry.beliefsPages.all() %}
                    <div class="mb-40" id="story-{{ loop.index }}" class="">
                        {% for block in page.page.all() %}
                            <div class="max-w-screen-md mx-auto {% if loop.last %} mb-12 md:mb-24 lg:mb-32{% endif %}">
                                {% switch block.type %}
                                    {% case "heading" %}
                                        <p class="text-2xl lg:text-3xl font-semibold mb-12 text-center">
                                            {{ block.heading }} 
                                        </p>
                                    {% case "subheading" %}
                                        <p class="text-2xl lg:text-3xl underline mb-8 text-left {% if block.centered %} text-center {% endif %} ">
                                            {{ block.subheading }} 
                                        </p>
                                    {% case "verse" %}
                                        {% set verse_text = "" %}
                                        {% for v in block.verse.one().verse.all() %}
                                            {% set verse_text = verse_text ~ v.text ~ " " %}
                                        {% endfor %}

                                        <div class="redactor text-center mb-10">
                                            <div class="text-xl italic mb-1">{{ verse_text }}</div>
                                            <h4 class="text-xl font-sans">{{ block.verse.one().title }}</h4>
                                        </div>  
                                    {% case "largeParagraphs" %}
                                        <div class="font-normal redactor mb-20 leading-relaxed  text-lg sm:text-xl xl:text-2xl">
                                            {{ block.paragraphs|replace({'<a href': '<a class="text-red underline" href'})|raw }}
                                        </div>
                                    {% case "inlineImage" %}
                                        <div class="mb-10">
                                            <img data-aos="fade-in" data-aos-duration="2000" data-aos-delay="300"  class="lazyload mx-auto block w-2/12 lg:w-1/12" data-src="{{ block.image.one().url }}" alt="">
                                        </div>
                                    {% case "smallParagraphs" %}
                                        <div class="leading-relaxed redactor mb-40 text-lg sm:text-xl xl:text-2xl">
                                            {{ block.paragraphs|replace({'<a href': '<a class="text-red underline" href'})|raw }}
                                        </div>
                                    {% case "summaryBlock" %}
                                        <div class="flex flex-col sm:flex-row my-12 items-center">
                                            <div class="w-[5rem] min-w-[5rem]">
                                                <div class="max-w-[4rem] max-h-[4rem]">
                                                <img class="w-full max-w-[4rem] max-h-[4rem]" src="{{ block.summaryImage.one().getUrl() }}" alt="">
                                            </div>
                                            </div>
                                            
                                            <div class="flex-grow ml-0 sm:ml-6 mt-6 sm:mt-0">
                                                <p class="text-lg sm:text-xl xl:text-2xl redactor">{{ block.summaryText|striptags }}</p>
                                            </div>
                                        </div>
                                {% endswitch %}
                            </div>

                        {% endfor %}
                        {% if loop.last %}
                            <div class="max-w-screen-md mx-auto">
                                <section class="flex flex-wrap content-ctn mt-12 md:mt-24 mx-auto relative mb-12 mx-auto border-t pt-6 border-dotted stories__block">
                                    <h3 class="font-sans font-semibold text-lg lg:text-2xl">
                                        Make the commitment.
                                    </h3>
                                </section>
                                <div>
                                    <div data-tf-widget="Xaz3LbWD" data-tf-opacity="0" data-tf-iframe-props="title=Solidarity Resolution Interest Form" data-tf-medium="snippet" style="width:100%;height:500px;"></div><script src="//embed.typeform.com/next/embed.js"></script>
                                </div>
                            </div>
                            
                        {% endif %}

                    </div>

                {% endfor %}

                <div class="flex mx-auto max-w-screen-md pb-12">
                    <p @click="beliefsPreviousChunk" v-if="currentChunk > 1" class="cursor-pointer p-4 inline-block">
                        <span class="text-blue text-7xl">&#8592;</span>
                    </p>
                    <p @click="beliefsNextChunk" v-if="currentChunk != beliefTotalChunks" class="cursor-pointer p-4 inline-block ml-auto">
                        <span class="text-blue text-7xl">&#8594;</span>
                    </p>
                </div>
            </section>
        </div>
    {% endif %}

{% endblock %}

{# -- Any JavaScript that should be included before </body> -- #}
{% block bodyJs %}
    {{ parent() }}
    <script type="text/javascript" src="https://ou715.infusionsoft.app/app/webTracking/getTrackingCode"></script>
    <script type="text/javascript" src="https://ou715.infusionsoft.com/app/timezone/timezoneInputJs?xid=7c94766b5117fc5298cb0fe19f0fba1a"></script>


    <script>
        window.onload = function() {
            setTimeout(function() {
                document.getElementById('svg1').classList.add('active');
                document.getElementById('svg2').classList.add('active');
            }, 1000);
        }
    </script>
{% endblock bodyJs %}

{% block bodyCss %}

    <style>
        svg {
            fill: white;
        }

        strong {
            font-weight: bold;
        }

        .noscroll::-webkit-scrollbar {
            display: none;
        }
    </style>

    {# <style>.cls-1{fill:none;stroke:#ffffff;stroke-linecap:round;stroke-linejoin:round;stroke-width:15px;}</style>
    <style>.d{fill:none;stroke:#ffffff;stroke-linecap:round;stroke-linejoin:round;stroke-width:15px;}</style>

    <style>
        svg .svg-elem-1 {
        stroke-dashoffset: 951.3115234375px;
        stroke-dasharray: 951.3115234375px;
        -webkit-transition: stroke-dashoffset 5s cubic-bezier(0.19, 1, 0.22, 1) 0s;
                transition: stroke-dashoffset 5s cubic-bezier(0.19, 1, 0.22, 1) 0s;
        }

        svg.active .svg-elem-1 {
        stroke-dashoffset: 0;
        }

        svg .svg-elem-2 {
        stroke-dashoffset: 448.43792724609375px;
        stroke-dasharray: 448.43792724609375px;
        -webkit-transition: stroke-dashoffset 5s cubic-bezier(0.19, 1, 0.22, 1) 0.15s;
                transition: stroke-dashoffset 5s cubic-bezier(0.19, 1, 0.22, 1) 0.15s;
        }

        svg.active .svg-elem-2 {
        stroke-dashoffset: 0;
        }

        svg .svg-elem-3 {
        stroke-dashoffset: 228.19264221191406px;
        stroke-dasharray: 228.19264221191406px;
        -webkit-transition: stroke-dashoffset 5s cubic-bezier(0.19, 1, 0.22, 1) 0.24s;
                transition: stroke-dashoffset 5s cubic-bezier(0.19, 1, 0.22, 1) 0.24s;
        }

        svg.active .svg-elem-3 {
        stroke-dashoffset: 0;
        }

        svg .svg-elem-4 {
        stroke-dashoffset: 871.187744140625px;
        stroke-dasharray: 871.187744140625px;
        -webkit-transition: stroke-dashoffset 5s cubic-bezier(0.19, 1, 0.22, 1) 0.36s;
                transition: stroke-dashoffset 5s cubic-bezier(0.19, 1, 0.22, 1) 0.36s;
        }

        svg.active .svg-elem-4 {
        stroke-dashoffset: 0;
        }

        svg .svg-elem-5 {
        stroke-dashoffset: 1458.407470703125px;
        stroke-dasharray: 1458.407470703125px;
        -webkit-transition: stroke-dashoffset 5s cubic-bezier(0.19, 1, 0.22, 1) 0.48s;
                transition: stroke-dashoffset 5s cubic-bezier(0.19, 1, 0.22, 1) 0.48s;
        }

        svg.active .svg-elem-5 {
        stroke-dashoffset: 0;
        }

        svg .svg-elem-6 {
        stroke-dashoffset: 228.2125244140625px;
        stroke-dasharray: 228.2125244140625px;
        -webkit-transition: stroke-dashoffset 5s cubic-bezier(0.19, 1, 0.22, 1) 0.6s;
                transition: stroke-dashoffset 5s cubic-bezier(0.19, 1, 0.22, 1) 0.6s;
        }

        svg.active .svg-elem-6 {
        stroke-dashoffset: 0;
        }

        svg .svg-elem-7 {
        stroke-dashoffset: 871.1876831054688px;
        stroke-dasharray: 871.1876831054688px;
        -webkit-transition: stroke-dashoffset 5s cubic-bezier(0.19, 1, 0.22, 1) 0.75s;
                transition: stroke-dashoffset 5s cubic-bezier(0.19, 1, 0.22, 1) 0.75s;
        }

        svg.active .svg-elem-7 {
            stroke-dashoffset: 0;
        }


                /***************************************************
        * Generated by SVG Artista on 12/2/2022, 4:19:00 PM
        * MIT license (https://opensource.org/licenses/MIT)
        * W. https://svgartista.net
        **************************************************/

        svg .svg-2-elem-1 {
        stroke-dashoffset: 2284.431884765625px;
        stroke-dasharray: 2284.431884765625px;
        -webkit-transition: stroke-dashoffset 5s cubic-bezier(0.19, 1, 0.22, 1) 0s;
                transition: stroke-dashoffset 5s cubic-bezier(0.19, 1, 0.22, 1) 0s;
        }

        svg.active .svg-2-elem-1 {
        stroke-dashoffset: 0;
        }

        svg .svg-2-elem-2 {
        stroke-dashoffset: 669.8536987304688px;
        stroke-dasharray: 669.8536987304688px;
        -webkit-transition: stroke-dashoffset 5s cubic-bezier(0.19, 1, 0.22, 1) 0.15s;
                transition: stroke-dashoffset 5s cubic-bezier(0.19, 1, 0.22, 1) 0.15s;
        }

        svg.active .svg-2-elem-2 {
        stroke-dashoffset: 0;
        }

        svg .svg-2-elem-3 {
        stroke-dashoffset: 309.8710632324219px;
        stroke-dasharray: 309.8710632324219px;
        -webkit-transition: stroke-dashoffset 5s cubic-bezier(0.19, 1, 0.22, 1) 0.24s;
                transition: stroke-dashoffset 5s cubic-bezier(0.19, 1, 0.22, 1) 0.24s;
        }

        svg.active .svg-2-elem-3 {
        stroke-dashoffset: 0;
        }

        svg .svg-2-elem-4 {
        stroke-dashoffset: 185.0760040283203px;
        stroke-dasharray: 185.0760040283203px;
        -webkit-transition: stroke-dashoffset 5s cubic-bezier(0.19, 1, 0.22, 1) 0.36s;
                transition: stroke-dashoffset 5s cubic-bezier(0.19, 1, 0.22, 1) 0.36s;
        }

        svg.active .svg-2-elem-4 {
        stroke-dashoffset: 0;
        }

        svg .svg-2-elem-5 {
        stroke-dashoffset: 567.0663452148438px;
        stroke-dasharray: 567.0663452148438px;
        -webkit-transition: stroke-dashoffset 5s cubic-bezier(0.19, 1, 0.22, 1) 0.48s;
                transition: stroke-dashoffset 5s cubic-bezier(0.19, 1, 0.22, 1) 0.48s;
        }

        svg.active .svg-2-elem-5 {
        stroke-dashoffset: 0;
        }



        

    </style> #}
{% endblock bodyCss %}
