{% extends "_layouts/generic-page-layout.twig" %}

{% block headLinks %}
    {{ parent() }}
{% endblock headLinks %}

{% block contentborderless %}
    <div class="edge-x pt-16 sm:pt-20 lg:pt-32 xl:pt-40 lg:pb-12 xl:pb-20 mb-[27vw]">
        <div class="relative maxw">
            <h1 class="header-one pt-10 lg:pt-20 pb-4 lg:pb-6">our philosophy <span class="tracking-overlap hidden sm:inline">–––––––––</span></h1>

            {% set phil = entry.philosophyIllustration.one() %}

            {% set phil_cropped = entry.philosophyImagesCrop.all() %}

            {# LAYOUT FOR LARGE SCREENS #}

            <div class="hidden sm:block relative py-10 sm:py-20">
                <div class="absolute sm:w-160 md:w-240 lg:w-380 right-0 top-0 sm:top-[18rem] right-0">
                    <img class="pl-1" src="{{ phil.getUrl() }}" alt="">
                </div>

                <div class="pt-6 h-96 sm:w-1/2 mt-[-1rem]">

                    <div class="text-sm sm:text-md md:text-md lg:text-lg xl:text-xl font-semibold text-blue pb-6 sm:pb-4 leading-5">
                        {{ entry.philosophyDescriptions.all()[0].blockHeaderText }}
                    </div>
                    <div data-aos="fade-up" data-aos-duration="1000" data-aos-delay="0" class="text-sm sm:text-md md:text-md lg:text-lg xl:text-xl text-blue pb-2 lg:pb-4 w-10/12 lg:w-full">
                        {{ entry.philosophyDescriptions.all()[0].blockBodyText }}
                    </div>
                </div>

                <div class="w-60 sm:w-[20rem] md:w-[25rem] lg:w-144 pt-36 sm:pt-[18rem] md:pt-[24.5rem] lg:pt-108 pb-12 ml-auto relative z-10">

                    <div class="text-sm sm:text-md md:text-md lg:text-lg xl:text-xl font-semibold text-blue pb-6 sm:pb-4 leading-5">
                        {{ entry.philosophyDescriptions.all()[1].blockHeaderText }}
                    </div>

                    <div data-aos="fade-up" data-aos-duration="1000" data-aos-delay="0" class="text-sm sm:text-md md:text-md lg:text-lg xl:text-xl text-blue pb-2 lg:pb-4">
                        {{ entry.philosophyDescriptions.all()[1].blockBodyText }}
                    </div>

                    <div class="ml-auto pt-12 sm:pt-20 lg:pt-72 pl-6 w-48 sm:w-[16rem] md:w-[20rem] lg:w-108">
                        <div class="text-sm sm:text-md md:text-md lg:text-lg xl:text-xl font-semibold text-blue pb-6 sm:pb-4 leading-5">
                            {{ entry.philosophyDescriptions.all()[2].blockHeaderText }}
                        </div>
                        <div data-aos="fade-up" data-aos-duration="1000" data-aos-delay="0" class="text-sm sm:text-md md:text-md lg:text-lg xl:text-xl text-blue pb-2 lg:pb-4">
                            {{ entry.philosophyDescriptions.all()[2].blockBodyText }}
                        </div>

                        {% for button in entry.buttons.all() %}
                            <div class="flex mb-4 mt-4 hidden sm:block">
                                <button>
                                    <a href="{% if button.buttonInternalReference|length %}{{ button.buttonInternalReference.one().getUrl() }}{% else %}{{ button.buttonExternalReference }}{% endif %}">
                                        <div class="{% if button.style == 'blue' %}bluebutton{% elseif button.style == 'red' %}redbutton{% elseif button.style == 'green' %}greenbutton{% elseif button.style == 'white' %}whitebutton{% endif %} w-48 sm:text-sm sm:w-52 lg:text-lg lg:w-60">
                                            {{ button.buttonText }}
                                        </div>
                                    </a>
                                </button>
                            </div>
                        {% endfor %}
                    </div>
                </div>

                
            </div>

            {# LAYOUT FOR SMALL SCREENS #}

            <div class="sm:hidden relative py-10 sm:py-20">
                

                <div class="">
                    <div class="text-xl font-semibold text-blue pb-6 sm:pb-4">
                        {{ entry.philosophyDescriptions.all()[0].blockHeaderText }}
                    </div>
                    <div data-aos="fade-up" data-aos-duration="1000" data-aos-delay="0" class="text-lg text-blue pb-2 lg:pb-4">
                        {{ entry.philosophyDescriptions.all()[0].blockBodyText }}
                    </div>
                </div>

                <div class="">
                    <img class="py-6" src="{{ phil_cropped[0].philImage.one().getUrl() }}" alt="">
                </div>

                

                <div class="">
                    <div class="text-xl font-semibold text-blue pb-6 sm:pb-4">
                        {{ entry.philosophyDescriptions.all()[1].blockHeaderText }}
                    </div>

                    <div data-aos="fade-up" data-aos-duration="1000" data-aos-delay="0" class="text-lg text-blue pb-2 lg:pb-4">
                        {{ entry.philosophyDescriptions.all()[1].blockBodyText }}
                    </div>

                    <div class="py-6">
                        <img class="" src="{{ phil_cropped[1].philImage.one().getUrl() }}" alt="">
                    </div>

                    <div class="">
                        <div class="text-xl font-semibold text-blue pb-6 sm:pb-4">
                            {{ entry.philosophyDescriptions.all()[2].blockHeaderText }}
                        </div>
                        

                        <div class="py-6">
                            <img class="" src="{{ phil_cropped[2].philImage.one().getUrl() }}" alt="">
                        </div>
                        <div data-aos="fade-up" data-aos-duration="1000" data-aos-delay="0" class="text-lg text-blue pb-2 lg:pb-4">
                            {{ entry.philosophyDescriptions.all()[2].blockBodyText }}
                        </div>

                    </div>

                    
                </div>

                <div class="flex justify-center sm:hidden mt-20 mb-10">
                    <div>
                        {% for button in entry.buttons.all() %}
                            <div class="flex mb-4 mt-4">
                                <button>
                                    <a href="{% if button.buttonInternalReference|length %}{{ button.buttonInternalReference.one().getUrl() }}{% else %}{{ button.buttonExternalReference }}{% endif %}">
                                        <div class="{% if button.style == 'blue' %}bluebutton{% elseif button.style == 'red' %}redbutton{% elseif button.style == 'green' %}greenbutton{% elseif button.style == 'white' %}whitebutton{% endif %} w-60 text-lg sm:w-60">
                                            {{ button.buttonText }}
                                        </div>
                                    </a>
                                </button>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

        

    <div class="edge-x relative bg-lightgreen">

        {% set wave = entry.philosophyWave.one() %}

        <div class="absolute left-0 top-[-25vw] w-full z-0 scale-x-110">
            <img src="{{ wave.getUrl() }}" alt="">
        </div>

        <div class="bg-lightgreen max-w-screen-2xl mx-auto">
        
        
            <div class="relative pb-10 z-10 w-full mt-40 xl:mt-60 xxl:mt-96">
                <div class="headercaps text-teal pb-6">{{ entry.banner2Header|upper }}</div>
                <div class="lg:w-2/3">
                    <div class="text-lg md:text-xl lg:text-2xl font-semibold text-blue pb-6">{{ entry.banner2TitleText }}</div>
                    <div class="text-md md:text-lg pb-4" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="0">{{ entry.banner2Description }}</div>
                </div>
            </div>

            {% set pent = entry.philosophyPentagon.one() %}

            {% set iconsPlus = [] %}
            {% set areaDecorators = 
                [
                    "absolute text-xxs w-14 -left-12 top-[7rem]          sm:-left-8 sm:top-[10.3rem]       md:-left-16 md:top-[11.1rem] md:text-xs md:w-24       lg:-left-16 lg:top-[14rem] lg:text-sm lg:w-28       xl:-left-20 xl:top-[15.5rem]",
                    "absolute text-xxs w-14 left-64 top-12               sm:left-[24.1rem] sm:top-[4.6rem] md:left-[26.9rem] md:top-[5rem] md:text-xs md:w-24   lg:left-[34.3rem] lg:top-[6.3rem] lg:text-sm lg:w-28 xl:left-[38rem] xl:top-[6.8rem]",
                    "absolute text-xxs w-14 left-[17.5rem] top-[6.75rem] sm:left-[26rem] sm:top-[10rem]    md:left-[28.9rem] md:top-[11.1rem] md:text-xs md:w-24 lg:left-[37rem] lg:top-[14rem] lg:text-sm lg:w-28   xl:left-[41rem] xl:top-[15.5rem]",
                    "absolute text-xxs w-14 left-64 top-[11.9rem]        sm:left-[24rem] sm:top-[17.6rem]  md:left-[26.8rem] md:top-[19.6rem] md:text-xs md:w-24 lg:left-[34rem] lg:top-[24.5rem] lg:text-sm lg:w-28 xl:left-[37.5rem] xl:top-[27rem]",
                    "absolute text-xxs w-12 left-0 top-[11.9rem]         sm:left-6 sm:top-[17.65rem]       md:left-2 md:top-[19.5rem] md:text-xs md:w-24         lg:left-2 lg:top-[24.5rem] lg:text-sm lg:w-28       xl:left-2 xl:top-[27rem]"
                ] 
            
            %}
            {% set descriptionDecorators = 
                [
                    "absolute text-xxs w-14 left-[3.6rem] top-[7.45rem]  sm:text-xs sm:left-[5.5rem] sm:top-[11.15rem]  md:left-[6.2rem] md:top-[12.4rem]  lg:text-sm lg:left-[8.1rem] lg:top-[15.75rem]  xl:text-lg xl:left-[8.65rem] xl:top-[17.1rem]",
                    "absolute text-xxs w-14 left-[7.7rem] top-[4.2rem]   sm:text-xs sm:left-[11.8rem] sm:top-[6.2rem]   md:left-[13.25rem] md:top-[6.8rem] lg:text-sm lg:left-[17rem] lg:top-[8.8rem]     xl:text-lg xl:left-[18.25rem] xl:top-[9.4rem]",
                    "absolute text-xxs w-14 left-[11.85rem] top-[7.4rem] sm:text-xs sm:left-[18.2rem] sm:top-[11.15rem] md:left-[20.4rem] md:top-[12.4rem] lg:text-sm lg:left-[26.1rem] lg:top-[15.75rem] xl:text-lg xl:left-[28.35rem] xl:top-[17.1rem]",
                    "absolute text-xxs w-14 left-[10.6rem] top-[12.6rem] sm:text-xs sm:left-[16.2rem] sm:top-[18.8rem]  md:left-[18.1rem] md:top-[20.8rem] lg:text-sm lg:left-[23.15rem] lg:top-[26.4rem] xl:text-lg xl:left-[25.3rem] xl:top-[29rem]",
                    "absolute text-xxs w-14 left-[5.15rem] top-[12.6rem] sm:text-xs sm:left-[7.95rem] sm:top-[18.8rem]  md:left-[8.9rem] md:top-[20.85rem] lg:text-sm lg:left-[11.5rem] lg:top-[26.4rem]  xl:text-lg xl:left-[12.3rem] xl:top-[29rem]"
                ] 
            %}
            {% set i = 0 %}

            {% for item in entry.causeAreaIcons.all() %}
                {% set iconsPlus = iconsPlus|merge([
                    {
                        "area":item.area,
                        "areaDecorator":areaDecorators[i],
                        "description":item.description,
                        "descriptionDecorator":descriptionDecorators[i],
                    }
                ]) %}
                {% set i = i + 1 %}
            {% endfor %}

            <div class="relative hidden sm:block">
                <div class="absolute transition-all ease-in-out duration-200 transform w-72 sm:w-108 md:w-120 lg:w-160 xl:w-200 mx-auto left-0 right-0">
                    <img class="absolute" src="{{ pent.getUrl() }}" alt="">

                    {% for item in iconsPlus %}
                        <div class="{{ item.areaDecorator }}" data-aos="zoom-in-up" data-aos-duration="1000" data-aos-delay="0">{{ item.description }}</div>
                        <div class="{{ item.descriptionDecorator }}" data-aos="zoom-in-up" data-aos-duration="1000" data-aos-delay="0">{{ item.area|upper }}</div>

                    {% endfor %}

                    <div class="absolute text-center left-[8.05rem] top-[5.8rem] sm:left-[12.2rem] sm:top-[8.8rem] md:left-[13.8rem] md:top-[10rem] lg:left-[17.6rem] lg:top-[12.6rem] xl:left-[19.05rem] xl:top-[12.6rem]">
                        <h1 class="font-serif font-bold text-2xl sm:text-5xl lg:text-7xl xl:text-8xl">5</h1>
                        <p  class="font-sans  text-xxs sm:text-xs lg:text-sm xl:text-lg" data-aos="zoom-in-up" data-aos-duration="1000" data-aos-delay="0">CAUSE<br>AREAS</p>
                    </div>
                    
                </div>
            </div>

            <div class="sm:hidden py-10 relative z-50">
                <div class="max-w-[16rem] mx-auto mt-8">
                    {% set i = 0 %}
                    {% for item in entry.causeAreaIcons.all() %}
                        <div class="flex items-center pb-12">
                            <div class="pr-4 {% if i % 2 == 1 %}hidden{% endif %}">
                                <img data-aos="fade-up" data-aos-duration="1000" data-aos-delay="0" class="w-20 h-20" src="{{ item.icon.one().getUrl() }}" alt="">
                            </div>
                            <div class="max-w-[10rem] {% if i % 2 == 1 %}text-right{% endif %}">
                                <div class="text-md font-semibold">{{ item.area|upper }}</div>
                                <div class="text-sm">{{ item.description }}</div>
                            </div>
                            <div class="pl-4 {% if i % 2 == 0 %}hidden{% endif %}">
                                <img data-aos="fade-up" data-aos-duration="1000" data-aos-delay="0" class="w-20 h-20" src="{{ item.icon.one().getUrl() }}" alt="">
                            </div>
                        </div>
                        {% set i = i + 1  %}
                    {% endfor %}
                </div>
                
            </div>

            <div class="relative text-center sm:text-left py-10 z-10 sm:pt-[30rem] lg:pt-[38rem] xl:pt-[42rem]">
                <div class="text-md sm:text-lg md:text-xl font-semibold text-blue">{{ entry.charitiesInclude }}</div>
                <div class="sm:pl-14 sm:pl-20 py-8">
                    {% for item in entry.charityTypeDescriptions %}
                        <p class="text-md sm:text-lg md:text-xl">{{ item.descriptionText }}</p>
                    {% endfor %}
                </div>
                
                <div class="text-lg md:text-xl font-semibold pb-12">{{ entry.charitiesTagline }}</div>

                <div class="flex flex-wrap justify-center sm:justify-start">
                    {% for button in entry.buttons.all() %}
                        <div class="flex my-4 mr-4">
                            <button>
                                <a href="{% if button.buttonInternalReference|length %}{{ button.buttonInternalReference.one().getUrl() }}{% else %}{{ button.buttonExternalReference }}{% endif %}">
                                    <div class="{% if button.style == 'blue' %}bluebutton{% elseif button.style == 'red' %}redbutton{% elseif button.style == 'green' %}greenbutton{% elseif button.style == 'white' %}whitebutton{% endif %} w-60 text-lg sm:w-60">
                                        {{ button.buttonText }}
                                    </div>
                                </a>
                            </button>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    
{% endblock %}

{% block bodyCss %}
    <style>
        p {
            padding-bottom: 0.8rem;
        }
    </style>
{% endblock bodyCss %}

{% block bodyJs %}
    {{ parent() }}
{% endblock bodyJs %}