{% extends "_layouts/generic-page-layout.twig" %}

{% set pageBackground = pageBackground|default('linen') %}
{% set navigationColor = navigationColor|default('blue') %}
{% set storyCategories = craft.categories.group('stories').level(1).all() %}

{% block headLinks %}
    {{ parent() }}
{% endblock headLinks %}

{% block contentborderless %}

    {# BANNER 1: HEADER #}

    {# layout for large screens #}

    {% set interns = entry.interns2021.one() %}

    <div class="relative bg-linen overflow-hidden">
        <div class="edge edge-t hidden lg:block pb-20 relative">
            <div class="max-w-screen-2xl mx-auto">
                <div class=" relative bg-linen">
                    <h1 class="text-5xl text-blue font-serif font-bold pb-16">{{ entry.pageTitle }}  <span class="tracking-overlap hidden sm:inline">–––––––––</span></h1>
                    <div class="lg:flex relative">
                        <div class="w-1/3 mr-6">
                            <h5 class="headercaps pb-6">{{ entry.banner1Header|upper }}</h5>
                            <div class="text-2xl text-blue leading-normal font-bold">{{ entry.banner1Description }}</div>
                            {% if entry.currentlyAcceptingInternshipApplications %}
                                <a href="{% if entry.buttons.one().buttonInternalReference|length %}{{ entry.buttons.one().buttonInternalReference.one().url }}{% else %}{{ entry.buttons.one().buttonExternalReference }}{% endif %}">
                                    <button class="my-6 pt-4">
                                        <div class="bluebutton hover:bg-linen hover:text-blue">
                                            <div class="">{{ entry.buttons.one().buttonText }}</div>
                                        </div>
                                    </button>
                                </a>
                            {% else %}
                                <modal buttontext="Apply today" 
                                    modaltitle="{{ entry.genericModal.one().modalTitle }}" 
                                    modalbody="{{ entry.genericModal.one().modalText|striptags }}" 
                                    buttonone="{{ entry.genericModal.one().modalButtonText }}" 
                                    linkone="{{ entry.genericModal.one().modalButtonLink }}">
                                </modal>
                            {% endif %}
                        </div>

                        <div class="w-2/3">
                            <img class="w-full" src="{{ entry.interns2021.one().getUrl() }}" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {# layout for small screens #}

        <div class="lg:hidden pb-20 relative">
            <div class="edge-x relative bg-linen">
                <h1 class="text-3xl sm:text-4xl text-blue font-serif font-bold pt-32 pb-16">{{ entry.pageTitle }} <span class="tracking-overlap hidden sm:inline">–––––––––</span></h1>
                <div class="w-full">
                    <img class="" src="{{ interns.getUrl() }}" alt="" data-aos="fade-up" data-aos-duration="2000" data-aos-delay="200">
                </div>

                <div class="relative">
                    <div class="text-center">
                        <h5 class="headercaps pb-6 pt-10">{{ entry.banner1Header|upper }}</h5>
                        <div class="md:w-2/3 mx-auto">
                            <p class="text-xl sm:text-2xl md:text-3xl text-blue leading-relaxed font-bold">{{ entry.banner1Description }}</span></p>
                        </div>
                        <div class="w-full flex items-center">
                            <div class="mx-auto">
                            {% if entry.currentlyAcceptingInternshipApplications %}
                                <a href="{% if entry.buttons.one().buttonInternalReference|length %}{{ entry.buttons.one().buttonInternalReference.one().url }}{% else %}{{ entry.buttons.one().buttonExternalReference }}{% endif %}">
                                    <button class="my-6 pt-4">
                                        <div class="bluebutton hover:bg-linen hover:text-blue">
                                            <div class="">{{ entry.buttons.one().buttonText }}</div>
                                        </div>
                                    </button>
                                </a>
                            {% else %}
                                <modal buttontext="Apply today" 
                                    modaltitle="{{ entry.genericModal.one().modalTitle }}" 
                                    modalbody="{{ entry.genericModal.one().modalText|striptags }}" 
                                    buttonone="{{ entry.genericModal.one().modalButtonText }}" 
                                    linkone="{{ entry.genericModal.one().modalButtonLink }}">
                                </modal>
                            {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    

    {# BANNER 2: WHAT IT IS #}

    {% set akj = entry.angelaKathiaJoy.one() %}

    <div class="relative py-20 edge-x z-10 overflow-hidden">
        <div v-prlx="{ preserveInitialPosition: false, speed:0.15 }" class="absolute top-[-10rem] left-0 right-0 bottom-0 bg-right bg-cover" style="background-image: url('{{ akj.getUrl() }}');">
        </div>
        <div class="mx-auto max-w-screen-2xl">
            <div class="md:hidden absolute z-20 bg-blue opacity-[.65] top-0 right-0 left-0 bottom-0"></div>
            <div class="relative z-30">
                <h5 class="headercaps">{{ entry.banner2Header|upper }}</h5>
                <h1 class="text-3xl sm:text-4xl lg:text-5xl text-linen font-bold pt-16 pb-16">{{ entry.banner2Title }}</h1>

                <div class="w-full md:w-7/12">
                    <div class="text-linen leading-tight text-lg lg:text-xl pb-20">
                        {{ entry.banner2Description }}
                    </div>
                </div>
            </div>
        </div>
        
    </div>

    {# BANNER 3: THREE CARDS #}

    <div class="bg-deepnavy relative z-20">
        <div class="hidden md:flex sm:justify-center relative z-30 md:pl-6 edge-x xl:w-11/12 max-w-screen-2xl mx-auto">
            {% for card in entry.internshipCards.all() %}
            <div v-prlx="{ speed : 0.05, preserveInitialPosition: false }" class="{% if card.cardColor == 'yellow' %}bg-yellow{% elseif card.cardColor == 'green' %}bg-green{% elseif card.cardColor == 'red' %}bg-red{% endif %} transition-all duration-200 ease-in-out transform mt-[-5rem] p-8 sm:p-6 md:p-8 h-[25rem] sm:h-[40rem] sm:w-[16rem] md:mx-4 lg:w-[20rem]">
                <h5 class="text-md tracking-wider">{{ card.cardTitleLine1|upper }}</h5>
                <h5 class="text-2xl lg:text-3xl font-serif font-bold tracking-wide pb-10">{{ card.cardTitleLine2|lower }}</h5>
                <div class="text-md lg:text-lg pb-12 sm:pb-2">{{ card.cardText }}</div>
            </div>
            {% endfor %}
        </div>

        <div class="sm:flex md:hidden sm:justify-center relative z-30 md:pl-6 lg:px-12 xl:w-11/12 max-w-screen-2xl mx-auto">
            {% for card in entry.internshipCards.all() %}
                <div class="{% if card.cardColor == 'yellow' %}bg-yellow{% elseif card.cardColor == 'green' %}bg-green{% elseif card.cardColor == 'red' %}bg-red{% endif %} transition-all duration-200 ease-in-out transform mt-[-5rem] p-8 sm:p-6 md:p-8 md:mx-4 pb-16">
                    <h5 class="text-md tracking-wider">{{ card.cardTitleLine1|upper }}</h5>
                    <h5 class="text-2xl lg:text-3xl font-serif font-bold tracking-wide pb-10">{{ card.cardTitleLine2|lower }}</h5>
                    <div class="text-lg pb-12 sm:pb-2">{{ card.cardText }}</div>
                </div>
            {% endfor %}
        </div>

        <div class="max-w-screen-lg mx-auto">
            {% set oh = entry.oneHundredPercentCircle.one() %}

            <div class="flex edge-x items-center relative z-40">
                <div class="relative py-20">
                    <div class="relative w-32 h-32 sm:w-60 sm:h-60 lg:w-72 lg:h-72 my-10">
                        <img class="absolute transform" src="{{oh.getUrl()}}" alt="">
                        <div class="flex justify-center items-center h-full w-full text-3xl sm:text-4xl lg:text-5xl xl:text-6xl text-red font-serif font-bold">{{ entry.banner3Title }}</div>
                    </div>
                </div>
                <div class="pl-8">
                    <h5 class="headercaps">{{ entry.banner3Header|upper }}</h5>
                    <div>
                        <div class="text-linen text-xs sm:text-lg md:text-lg tracking-wider py-4">{{ entry.banner3Description }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    {# BANNER 4: TESTIMONIALS #}

    {% set quotes = [] %}

    {% for q in entry.testimonialCarousel.all() %}
        {% set quotes = quotes|merge([{
            quoteIcon: q.testimonialReference.one().testimonialHeadshot.one().getUrl(),
            quoteText: q.testimonialReference.one().testimonialQuote|striptags,
            name: q.testimonialReference.one().testimonialName,
            description: q.testimonialReference.one().testimonialNameDescription,
        }]) %}
    {% endfor %}

    <div class="edge relative z-20 overflow-hidden bg-lightgreen">
        <div class="max-w-screen-2xl mx-auto ">
            <carousel-quote :quotes="{{ quotes|json_encode }}" qicon="{{ craft.entries.slug('site-wide-assets').one().genericQuoteIcon.one().getUrl() }}"></carousel-quote>
        </div>
    </div>

    {# BANNER 5: WHO THEY ARE #}

    <div class="relative">
        <div class="">
            <div class="bg-deepnavy relative edge z-20">
                <div class="max-w-screen-2xl mx-auto">
                    <h5 class="headercaps pb-6">{{ entry.banner5Header|upper }}</h5>
                    <div class="w-full sm:w-2/3">
                        <div class="text-2xl sm:text-3xl text-linen relative z-20">{{ entry.banner5Description }}</div>
                    </div>
    
                    <div class="sm:hidden">
                        <div class="relative pt-6 z-0" data-aos="fade-up" data-aos-duration="2000" data-aos-delay="0">
                            {% set justin = entry.justinBucket.one() %}
                            <img src="{{justin.getUrl()}}" alt="">
                        </div>
                        
                        <div class="text-linen text-xl lg:text-2xl realtive z-10">
                            <h5 class="headercaps pt-6 pb-6 relative z-20">{{ entry.banner5SecondaryHeader|upper }}</h5>
                            {% set i = 0 %}
                            {% for item in entry.colleges.all() %}
                                <p class="pb-2" data-aos="fade-up" data-aos-duration="2000" data-aos-delay="{{i}}">{{item.college}}</p>
                                {% set i = i + 50 %}
                            {% endfor %}
                        </div>
                    </div>

                    <div class="hidden sm:block">
                        <h5 class="headercaps pt-16 pb-6 relative z-20">{{ entry.banner5SecondaryHeader|upper }}</h5>
                        <div class="grid grid-cols-2">
                            <div class="text-linen text-xl lg:text-2xl">
                                {% set i = 0 %}
                                {% for item in entry.colleges.all() %}
                                    <p class="pb-2" data-aos="fade-up" data-aos-duration="2000" data-aos-delay="{{i}}">{{item.college}}</p>
                                    {% set i = i + 50 %}
                                {% endfor %}
                            </div>
                            <div class="-mt-20 sm:-mt-44 relative z-0" data-aos="fade-up" data-aos-duration="2000" data-aos-delay="0">
                                {% set justin = entry.justinBucket.one() %}
                                <img src="{{justin.getUrl()}}" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% set border = entry.internshipSwoopBorder.one() %}

        <div class="absolute -bottom-20 xl:-bottom-40 w-full z-10 scale-105">
            <img src="{{ border.getUrl() }}" alt="">
        </div>
        

    </div>

    {# BANNER 6: WANT IN? #}

    <div class="bg-red text-center overflow-hidden relative">
        <h5 class="headercaps text-linen pt-40 pb-12 xl:pt-72">{{ entry.banner6Header|upper }}</h5>
        <div class="w-2/3 mx-auto">
            <div class="text-blue text-xl">{{ entry.banner6Description }}</div>
        </div>

        <div class="w-full flex items-center pb-28">
            <div class="mx-auto">
                
                {% if entry.currentlyAcceptingInternshipApplications %}
                    <a href="{% if entry.buttons.one().buttonInternalReference|length %}{{ entry.buttons.one().buttonInternalReference.one().url }}{% else %}{{ entry.buttons.one().buttonExternalReference }}{% endif %}">
                        <button class="my-6 pt-4">
                            <div class="bluebutton hover:bg-linen hover:text-blue">
                                <div class="">{{ entry.buttons.one().buttonText }}</div>
                            </div>
                        </button>
                    </a>
                {% else %}
                    <modal buttontext="Apply today" 
                        modaltitle="{{ entry.genericModal.one().modalTitle }}" 
                        modalbody="{{ entry.genericModal.one().modalText|striptags }}" 
                        buttonone="{{ entry.genericModal.one().modalButtonText }}" 
                        linkone="{{ entry.genericModal.one().modalButtonLink }}">
                    </modal>
                {% endif %}
            </div>
        </div>
    
        {% set squiggle3 = entry.internshipSquiggle2.one() %}

        <div class="absolute -bottom-10 -left-20 w-3/4 sm:w-1/2 max-w-[40rem]">
            <img src="{{squiggle3.getUrl()}}" alt="">
        </div>
    </div>
    
{% endblock %}

{% block bodyCss %}
    <style>
        p {
            padding-bottom: 1rem;
        }
    </style>
{% endblock bodyCss %}

{# -- Any JavaScript that should be included before </body> -- #}
{% block bodyJs %}
    {{ parent() }}
{% endblock bodyJs %}
