{% extends "_layouts/generic-page-layout.twig" %}

{% block headLinks %}
    {{ parent() }}
{% endblock headLinks %}

{% block contentborderless %}

    

    <div class="relative bg-linen testclass">
    
    {% set bf = entry.bannerFade.one().getUrl() %}

    {# BANNER 1 #}

    <div class="relative z-10 bg-linen bg-cover bg-right-top lg:bg-bottom overflow-hidden h-screen min-h-[20rem] lg:min-h-[60rem] xl:min-h-[60rem] xxl:min-h-[70rem]" style="background-image: url('{{ bf }}')">

        <div class="edge edge-t">
            <h1 class="relative z-20 header-one" data-aos="fade-up" data-aos-duration="1000" >{{ entry.pageTitle }} <span class="hidden tracking-overlap sm:inline">–––––––––</span> </h1>
            <div class="relative z-20 pt-6 pb-6 font-sans text-lg font-semibold sm:text-xl lg:text-2xl text-blue sm:pt-12" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="400">{{ entry.banner1Description }}</div>   

            <button data-aos="fade-up" data-aos-duration="1000" data-aos-delay="800">
                <a href="{% if entry.genericButton.one().buttonInternalReference|length %}{{ entry.genericButton.one().buttonInternalReference.url }}{% else %}{{ entry.genericButton.one().buttonExternalReference }}{% endif %}">
                    <div class="bluebutton">
                        {{ entry.genericButton.one().buttonText }}
                    </div>
                </a>
            </button>
        </div>

        <div class="hidden xxl:block xxl:h-60"></div>

    </div>




    {# BANNER 2 #}

    <div class="relative">
        <div class="bg-[#081a27] edge text-linen relative">
            <div class="relative z-20 mx-auto lg:flex max-w-screen-2xl">
                <div class="">
                    <h5 class="pb-6 text-sm font-semibold tracking-wider text-red sm:text-md">{{ entry.banner2Header|upper }}</h5>
                    <h5 class="pb-6 text-2xl font-semibold sm:text-3xl lg:text-4xl text-linen">{{ entry.banner2Title }}</h5>

                    <div>
                        {% for item in entry.banner2Description|split('</p>') %}
                            <div data-aos="fade-up" data-aos-duration="1000" class="pb-6 text-linen text-md sm:text-lg lg:text-xl" data-aos="fade-up" data-aos-duration="1000" >{{ item|striptags }}</div>
                        {% endfor %}
                    </div>

                    <div class="flex-shrink sm:hidden">
                        <div class="text-linen sm:text-center lg:ml-20">                    
                            <my-donut
                                given="{{ entry.monthlyAmountRaised }}"
                                total="{{ entry.monthlyGoal }}">
                            </my-donut>
                            <p class="pt-4 mx-auto text-center text-md sm:text-lg lg:text-xl"> <b>{{ entry.monthlyAmountRaised|currency('USD', stripZeros=true) }}</b> /month raised so far.<br>Our goal is <b>{{ entry.monthlyGoal|currency('USD', stripZeros=true) }}</b> /month by {{ entry.coreGoalEndDate }} </p>
                        </div>
                    </div>

                    <button>
                        <a href="{% if entry.genericButton2.one().buttonInternalReference|length %}{{ entry.genericButton2.one().buttonInternalReference.url }}{% else %}{{ entry.genericButton2.one().buttonExternalReference }}{% endif %}">
                            <div class="redbutton">
                                {{ entry.genericButton2.one().buttonText }}
                            </div>
                        </a>
                    </button>
                </div>
                <div class="flex-shrink hidden sm:block">
                    <div class="text-center text-linen lg:ml-20">                    
                        <my-donut
                            given="{{ entry.monthlyAmountRaised }}"
                            total="{{ entry.monthlyGoal }}">
                        </my-donut>
                        <p class="text-lg"> <b>{{ entry.monthlyAmountRaised|currency('USD', stripZeros=true) }}</b> /month raised so far. Our goal is <b>{{ entry.monthlyGoal|currency('USD', stripZeros=true) }}</b> /month by {{ entry.coreGoalEndDate }} </p>
                    </div>
                </div>
            </div>
        </div>

        {% set bw = entry.coreSquiggleBorder.one() %}
        <img class="absolute z-0 scale-x-105 -bottom-20 xl:-bottom-40 super:-bottom-60" src="{{ bw.geturl() }}" alt="">
    </div>

    

    {# BANNER 3 #}

    <div class="edge pt-36 xl:pt-52 bg-linen">
        <div class="mx-auto max-w-screen-2xl">
            <h5 class="pb-6 text-sm font-semibold tracking-wider text-red sm:text-md super:pt-20">{{ entry.banner3Header|upper }}</h5>
            <h5 class="pb-6 text-2xl font-semibold sm:text-3xl lg:text-4xl text-blue">{{ entry.banner3Title }}</h5>

            <div class="lg:w-2/3">
                <div class="text-blue text-md sm:text-xl lg:text-2xl" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="0">{{ entry.banner3Description }}</div>
            </div>
            <div>
            </div>
            <table class="mx-auto mt-12">
                <thead class="pb-4">
                    <tr class="font-serif text-3xl font-bold">
                <th></th>
                <th>

                {% set seed = entry.seed.one() %}

                <div class="">
                    <img class="w-4 mx-auto mt-auto lg:w-4" src="{{seed.getUrl()}}" alt="">
                </div>
                

                </th>
                <th>
                {% set sprout = entry.sprout.one() %}
                <div class="py-2">
                    <img class="w-[2rem] lg:w-[2.9rem] mx-auto pr-2" src="{{sprout.getUrl()}}" alt="">
                </div>
                </th>
                <th>
                {% set tree = entry.tree.one() %}
                <div class="">
                    <img class="w-12 mx-auto mt-auto" src="{{tree.getUrl()}}" alt="">
                </div>  
                </th>
            </tr>
            </thead>
            <thead class="pb-4">
            <tr class="font-sans text-xxs lg:text-md">
                <th></th>
                <th class="px-4" data-aos="zoom-in" data-aos-duration="1000" data-aos-delay="0">YEAR <span class="hidden sm:inline">ONE</span><span class="sm:hidden">1</span></th>
                <th class="px-4"  data-aos="zoom-in" data-aos-duration="1000" data-aos-delay="200">YEAR <span class="hidden sm:inline">TWO</span><span class="sm:hidden">2</span></th>
                <th class="px-4"  data-aos="zoom-in" data-aos-duration="1000" data-aos-delay="400">YEAR <span class="hidden sm:inline">THREE</span><span class="sm:hidden">3</span></th>
            </tr>
            <tr class="font-serif font-bold border-b-2 text-md sm:text-2xl border-b-green">
                <th class="pb-4">impact metric</th>
                <th data-aos="zoom-in" data-aos-duration="1000" data-aos-delay="0" class="pb-4 text-sm sm:text-lg">2019</th>
                <th data-aos="zoom-in" data-aos-duration="1000" data-aos-delay="200" class="pb-4 text-sm sm:text-lg">2020</th>
                <th data-aos="zoom-in" data-aos-duration="1000" data-aos-delay="400" class="pb-4 text-sm sm:text-lg">2021</th>
            </tr>
            </thead>
            
            <tbody class="text-sm sm:text-lg lg:text-xl">

            <tr class="h-4"></tr>
            {% for item in entry.tableData.all() %}
                {% if item.type == "tableEntry" %}
                    <tr class="">
                        <td class="text-center px-1 text-xs sm:text-sm lg:text-md xl:text-lg font-semibold sm:px-8 py-4 border-r-green border-r max-w-[5rem] sm:max-w-none">{{ item.rowTitle }}</td>
                {% elseif item.type == "stat2019" %}
                        <td data-aos="zoom-in" data-aos-duration="1000" data-aos-delay="0" class="px-1 py-4 text-center border-r border-r-green sm:px-8">{{ item.stat2019 }}</td>
                {% elseif item.type == "stat2020" %}
                        <td data-aos="zoom-in" data-aos-duration="1000" data-aos-delay="0" class="px-1 py-4 text-center border-r  border-r-green sm:px-8">{{ item.stat2020 }}</td>
                {% elseif item.type == "stat2021" %}
                        <td data-aos="zoom-in" data-aos-duration="1000" data-aos-delay="0" class="px-1 py-4 text-center sm:px-8">{{ item.stat2021 }}</td>
                    </tr>
                {% endif %}

            {% endfor %}
            </tbody>
            </table>
        </div>
        
    </div>

    {# BANNER 4 #}

    {% set quotes = [] %}

    {% for q in entry.testimonialCarousel.all() %}
        {% set quotes = quotes|merge([{
            quoteIcon: q.testimonialReference.one().testimonialHeadshot.one().getUrl(),
            quoteText: q.testimonialReference.one().testimonialQuote|striptags,
            name: q.testimonialReference.one().testimonialName,
            description: q.testimonialReference.one().testimonialNameDescription,
        }]) %}
    {% endfor %}

    <div class="edge relative bg-lightgreen z-20 overflow-hidden">
        <div class="max-w-screen-2xl mx-auto ">
            <carousel-quote :quotes="{{ quotes|json_encode }}" qicon="{{ craft.entries.slug('site-wide-assets').one().genericQuoteIcon.one().getUrl() }}"></carousel-quote>
        </div>
    </div>
    

    {# BANNER 5 #}

    <div class="mx-auto edge max-w-screen-2xl">
        <h5 class="pl-4 text-sm font-semibold tracking-wider text-red sm:text-md">{{ entry.banner5Header|upper }}</h5>
        <div data-tf-widget="{{ entry.banner6Typeform.one().dataTFWidget }}" data-tf-opacity="0" data-tf-chat data-tf-medium="snippet" style="width:100%;height:400px;"></div><script src="//embed.typeform.com/next/embed.js"></script>
    </div>
    </div>

{% endblock %}

{# -- Any JavaScript that should be included before </body> -- #}
{% block bodyJs %}
    {{ parent() }}
{% endblock bodyJs %}
